.videoSidebar {
	position: absolute;
	top: 50%;
	right: 10px;
	color: white;
	text-shadow: 1px 1px black;
}

.videoSidebar__options {
	padding: 16px;
	text-align: center;
}

@media only screen and (max-height: 800px) {
	.videoSidebar {
		top: 30%;
	}
}
